<div class="present-partial">
    <h3>{{name}}</h3>
    <img height="200px" src={{image}} alt="Present image">
    <a href="/presents/{{_id}}" class="details-btn">See details</a>
    <a href="/presents/delete/{{_id}}" class="delete-present-btn">Remove from list</a>
</div>