<div id="new-present-page" class="page">
    <img class="" src="" alt="">
    <div class="new-present-content">
        <h1>New Present</h1>
        <form action="/presents/new" method="post">
            <label>Present name:</label>
            <input required type="text" name="name" placeholder="Fancy phone">
            
            <label>Link to the image:</label>
            <input type="text" name="image" placeholder="">
            
            <label>Price:</label>
            <input type="number" name="price" placeholder="20">
            
            <label>Recipient:</label>
            <input required type="text" name="recipient" placeholder="person">
            
            <label>Description:</label>
            <input type="text" name="description" placeholder="khsdbkdshkbd">
            
            <button type="submit" class="go-back-btn">Create</button>
        </form>
    </div>
</div>
</div>

