<div id="new-present-page" class="page">
    <div class="new-present-content">
        <h1>New Present</h1>
        <form action="/presents/new" method="post">
            <label>Present name:</label>
            <input required type="text" name="name" placeholder="present">
            
            <label>Link to the image:</label>
            <input type="text" name="image" placeholder="'https://contents.mediadecathlon.com/p1529229/k$61f2ce8bb3c8bdd094fade096d75252e/archery-left-hander-bow-club-500.jpg?format=auto&quality=40&f=800x800'">
            
            <label>Price:</label>
            <input type="number" name="price" placeholder="20">
            
            <label>Recipient:</label>
            <input required type="text" name="recipient" placeholder="person">
            
            <label>Description:</label>
            <input type="text" name="description" placeholder="the cool present">
            
            <button type="submit" class="go-back-btn">Create</button>
        </form>
    </div>
</div>
</div>

